# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [13]:
import pandas as pd
import os
import glob

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [14]:
%%time
import numpy as np
path = 'c:\\'
extension = 'csv'
infos = glob.glob('Students_info*.{}'.format(extension))
marks = glob.glob('Students_marks*.{}'.format(extension))
li1 = []
li2 = []
for filename in infos:
    df = pd.read_csv(filename, index_col=None, header=0)
    li1.append(df)
for filename in marks:
    df = pd.read_csv(filename, index_col=None, header=0)
    li2.append(df)
li1
df1 = pd.concat(li1)
df2 = pd.concat(li2)
frame = pd.merge(df1, df2)
frame

CPU times: user 41 ms, sys: 3.3 ms, total: 44.3 ms
Wall time: 60 ms

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,200,female,group C,associate's degree,standard,completed,group3,67,84,86
1,201,female,group D,some college,free/reduced,none,group3,65,81,77
2,202,male,group C,associate's degree,standard,none,group3,69,77,69
3,203,female,group B,associate's degree,standard,none,group3,57,69,68
4,204,male,group C,some college,standard,none,group3,59,41,42
...,...,...,...,...,...,...,...,...,...,...
995,595,female,group C,bachelor's degree,standard,completed,group6,56,79,72
996,596,male,group B,high school,free/reduced,none,group6,30,24,15
997,597,male,group A,some high school,standard,none,group6,53,54,48
998,598,female,group D,high school,standard,none,group6,69,77,73
999,599,female,group D,some high school,standard,none,group6,65,82,81

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [15]:
#удаление столбца index
frame.pop('index')

0      200
1      201
2      202
3      203
4      204
      ...
995    595
996    596
997    597
998    598
999    599
Name: index, Length: 1000, dtype: int64

In [16]:
#после удаления, 10 строк
frame.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group C,associate's degree,standard,completed,group3,67,84,86
1,female,group D,some college,free/reduced,none,group3,65,81,77
2,male,group C,associate's degree,standard,none,group3,69,77,69
3,female,group B,associate's degree,standard,none,group3,57,69,68
4,male,group C,some college,standard,none,group3,59,41,42
5,male,group D,some high school,standard,completed,group3,74,71,78
6,male,group E,bachelor's degree,standard,none,group3,82,62,62
7,male,group E,high school,standard,completed,group3,81,80,76
8,female,group B,some college,free/reduced,none,group3,74,81,76
9,female,group B,some college,free/reduced,none,group3,58,61,66

#### Задание 3. Выведите на экран размеры полученной таблицы

In [17]:
frame.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [18]:
frame.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [19]:
frame.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
math score                     0
reading score                  0
writing score                  0
dtype: int64

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [20]:
frame.mean()

<ipython-input-20-b2d695786e64>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  frame.mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [21]:
frame[frame['test preparation course'] == 'completed'].mean()

<ipython-input-21-9dfa857ff80c>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  frame[frame['test preparation course'] == 'completed'].mean()

math score       69.695531
reading score    73.893855
writing score    74.418994
dtype: float64

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [22]:
#различные значения и сколько раз встретились
frame['lunch'].value_counts()

standard        645
free/reduced    355
Name: lunch, dtype: int64

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [23]:
frame.rename(columns={'parental level of education': 'education', 'test preparation course': 'test preparation'}, inplace=True)

In [ ]:
frame

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group C,associate's degree,standard,completed,group3,67,84,86
1,female,group D,some college,free/reduced,none,group3,65,81,77
2,male,group C,associate's degree,standard,none,group3,69,77,69
3,female,group B,associate's degree,standard,none,group3,57,69,68
4,male,group C,some college,standard,none,group3,59,41,42
...,...,...,...,...,...,...,...,...,...
995,female,group C,bachelor's degree,standard,completed,group6,56,79,72
996,male,group B,high school,free/reduced,none,group6,30,24,15
997,male,group A,some high school,standard,none,group6,53,54,48
998,female,group D,high school,standard,none,group6,69,77,73
999,female,group D,some high school,standard,none,group6,65,82,81

**Зафиксируем минимальный балл для сдачи экзамена**

In [24]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [26]:
#доля студентов сдала экзамен по математике на >=50
fraction = frame[frame['math score'] >= passmark]['math score'].count()/frame['math score'].count()
fraction

0.865

In [27]:
#доля студентов сдала экзамен по математике на >=50 и проходила курс подготовки к экзу
fraction = frame[(frame['math score'] >= passmark) & (frame['test preparation']=='completed')]['math score'].count()/frame['math score'].count()
fraction

0.33

In [28]:
#доля женщин, не проходивших курс и не сдавших экз
fraction = frame[(frame['math score'] < passmark) & (frame['test preparation']=='none') & (frame['gender'] == 'female')]['math score'].count()/frame['math score'].count()
fraction

0.07

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [29]:
%%time
frame.groupby('race/ethnicity')['reading score'].mean()

CPU times: user 3.42 ms, sys: 0 ns, total: 3.42 ms
Wall time: 9.13 ms

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

In [30]:
%%time
frame.groupby('education')['writing score'].min()

CPU times: user 1.67 ms, sys: 0 ns, total: 1.67 ms
Wall time: 5.71 ms

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [ ]:
frame.shape

(1000, 9)

In [57]:
%%time
myList = frame['race/ethnicity'].unique()
myDict = {myList[i]: 0 for i in range(0, len(myList), 1)}
myDict1 = myDict.copy()
for i in range(frame.shape[0]):
  for j in range(frame.shape[1]):
    if(frame.iloc[i,j] in myDict):
      myDict[frame.iloc[i,j]] += int(frame.iloc[i,j+6])
      myDict1[frame.iloc[i,j]] += 1
for i in (myDict.keys()):
  print(f"{i} : {round(myDict[i]/myDict1[i],6)}")

group C : 69.103448
group D : 70.030534
group B : 67.352632
group E : 73.028571
group A : 64.674157
CPU times: user 329 ms, sys: 0 ns, total: 329 ms
Wall time: 336 ms

In [ ]:
%%time
myList = frame['education'].unique()
myDict = {myList[i]: 10000 for i in range(0, len(myList), 1)}
for i in range(frame.shape[0]):
  for j in range(frame.shape[1]):  
    if((frame.iloc[i,j] in myDict) and (myDict[frame.iloc[i,j]] > int(frame.iloc[i,j+6]))):			
      myDict[frame.iloc[i,j]] = int(frame.iloc[i,j+6])
for i in (myDict.keys()):
  print(f"{i} : {myDict[i]}")

associate's degree : 35
some college : 19
some high school : 10
bachelor's degree : 38
high school : 15
master's degree : 46
CPU times: user 295 ms, sys: 469 µs, total: 295 ms
Wall time: 302 ms

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [35]:
grouped = pd.pivot_table(frame,index=['gender','education'],values=['math score', 'reading score', 'writing score'], aggfunc=np.mean)
grouped

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [38]:
frame['Math_PassStatus'] = np.where(frame['math score']< passmark, 'F', 'P')
frame['Math_PassStatus'].value_counts()

P    865
F    135
Name: Math_PassStatus, dtype: int64

In [39]:
frame.columns

Index(['gender', 'race/ethnicity', 'education', 'lunch', 'test preparation',
       'group', 'math score', 'reading score', 'writing score',
       'Math_PassStatus'],
      dtype='object')

In [40]:
frame['Reading_PassStatus'] = np.where(frame['reading score']< passmark, 'F', 'P')
frame['Reading_PassStatus'].value_counts()

P    910
F     90
Name: Reading_PassStatus, dtype: int64

In [41]:
frame['Writing_PassStatus'] = np.where(frame['writing score']< passmark, 'F', 'P')
frame['Writing_PassStatus'].value_counts()

P    886
F    114
Name: Writing_PassStatus, dtype: int64

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [42]:
frame['OverAll_PassStatus'] = np.where(((frame['math score']< passmark) | (frame['reading score']< passmark) | (frame['writing score']< passmark)), 'F', 'P')
frame['OverAll_PassStatus'].value_counts()

P    812
F    188
Name: OverAll_PassStatus, dtype: int64

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [53]:
def GetGrade(average_mark):
    # create a list of our conditions
    conditions = [
    (average_mark < 50),
    (average_mark >= 50) & (average_mark < 60),
    (average_mark >= 60) & (average_mark < 70),
    (average_mark >= 70) & (average_mark < 80),
    (average_mark >= 80) & (average_mark < 90),
    (average_mark >= 90)
    ]
    # create a list of the values we want to assign for each condition
    values = ['F', 'E', 'D', 'C', 'B', 'A']
    # create a new column and use np.select to assign values to it using our lists as arguments
    return np.select(conditions, values)       
# your code here
frame = frame.assign(Grade = lambda x: GetGrade((frame['math score'] + frame['reading score'] + frame['writing score'])/3))
frame['Grade'].value_counts().sort_index()

A     52
B    146
C    261
D    256
E    182
F    103
Name: Grade, dtype: int64